
*.png
/Adv lab 2/lab 2/raw.githubusercontent.com/cchan011/Adv-lab/main/Adv%20lab%202/lab%202/Lab2Data_Jeff
Adv lab 2/lab 3/raw.githubusercontent.com/cchan011/Adv-lab/main/Adv%20lab%202/lab%203/jeffexp3.csv
Adv lab 2/lab 3/raw.githubusercontent.com/cchan011/Adv-lab/main/Adv%20lab%202/lab%203/jeffexp4-backwards_trimmedData.csv
Adv lab 2/lab 3/raw.githubusercontent.com/cchan011/Adv-lab/main/Adv%20lab%202/lab%203/jeffexp4-forward_trimmedData.csv
Adv lab 2/lab 3/raw.githubusercontent.com/cchan011/Adv-lab/main/Adv%20lab%202/lab%203/jeffexp4-release_trimmedData.csv
